# Created by https://www.toptal.com/developers/gitignore/api/react,yarn
# Edit at https://www.toptal.com/developers/gitignore?templates=react,yarn

### react ###
.DS_*
frontend/*.log
*.log
frontend/logs
logs
**/*.backup.*
**/*.back.*

frontend/node_modules
frontend/bower_components

*.sublime*

frontend/psd
frontend/thumb
frontend/sketch

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

frontend/.yarn/*
!frontend/.yarn/releases
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/sdks
!frontend/.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!frontend/.yarn/cache

# and uncomment the following lines
# .pnp.*

# End of https://www.toptal.com/developers/gitignore/api/react,yarn